
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Start -  For Dashboard - Carousel */
.Dashboard {
  width: 75%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide{
  transform: scale(0.2);
  transition:  transfrom 500ms;
  opacity: .5
}

.activeSlide{
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  /* background-color: #fff; */
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
/* End - For Dashboard - Carousel */


/* Start - For Title page */
.TitleScreen{
  background-image: url(./assets/xbox360_2.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  
}

@media screen and (min-width:100px) {
  .main-title{
    width: 50%;
  }

}

/* SayHello */

.Name-gameBG{
  background-image: url(./assets/NameBG.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   width: 100vw;
   height: 100vh;
}

.nameAvatar{
  width:auto;
  height: 400px
}

@keyframes blink {
   from{
       opacity: 0%;
    }
    to{
        opacity: 100%;
     }
}
.type-writer::after{
    content: "|";
animation: blink 1s infinite;
}
.type-writer > span{
}
.a_btn{
  height: 20px;
  width: 50px;
}
