
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Navbar */

.navLogo{
  height: 20px;
  height: 50px;
}

.navbar-dark .navbar-brand {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2rem;
}

/* Start -  For Dashboard - Carousel */
.Dashboard {
  width: 75%;
  /* margin: 10rem auto; */
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide{
  transform: scale(0.2);
  transition:  transfrom 500ms;
  opacity: .5
}

.activeSlide{
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  /* background-color: #fff; */
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
/* End - For Dashboard - Carousel */


/* Start - For Title page */
.TitleScreen{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/xbox360_2.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (min-width:100px) {
  .main-title{
    width: 50%;
  }

}

/* SayHello */

.Name-gameBG{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/NameBG.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;
}

.nameAvatar{
  width:auto;
  height: 400px
}

@keyframes blink {
   from{
       opacity: 0%;
    }
    to{
        opacity: 100%;
     }
}
.type-writer::after{
    content: "|";
animation: blink 1s infinite;
}

.a_btn{
  height: 50px;
  width: 50px;
}

/* Asking Questions */
.questions-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/questionsBg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;
   overflow-x: hidden;
   overflow: hidden;
}

.questionsAvatar{
  width:auto;
  height: 400px;
}

/* Greater or Less */

.greaterLess-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/NameBG.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;
}

.greaterLessAvatar{
  width:auto;
  height: 400px;
}

/* Magic 8 Ball */

.magic8ball-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
   background-image: url(./assets/NameBG.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;
}

/* Odd or Even */

.oddEven-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/questionsBg.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.oddEvenAvatar{
  width:auto;
  height: 400px;
}

/* Reverse It */

.reverse-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/questionsBg.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh; 
  overflow-y: hidden;
}

.reverse-avatar{
  width: auto;
  height: 400px;
}

/* Adding Numbers */

.addingNumbers-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/NameBG.png);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh; 
  overflow-y: hidden;
}

/* Restaurant Picker */

.restaurant-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/NameBG.png);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh; 
  overflow-y: hidden;
}

/* Madlib */

.madlib-bg{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url(./assets/questionsBg.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
  width: 100vw;
  height: 100vh; 
  overflow-y: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}